[submodule "opencvTutorial"]
	path = opencvTutorial
	url = https://github.com/misbah4064/opencvTutorial.git
	branch = --

[submodule "face_recognition"]
	path = face_recognition
	url = https://github.com/GodNoden/face_recognition.git
